  <!-- Footer -->
  <footer>
    
  </footer>

  <!-- End Page Container -->
  {{#if container}}
    </main>
  {{/if}}

  <!-- Off-Page Elements -->
  <div id="page-overlay"></div>
  
  <!-- Modals -->
  <div class="modal-box" data-modal="test-modal"></div>
  
  <!-- JS: Vendor Core -->
  <script src="/scripts/vendor/core/jquery-2.1.4.min.js" type="text/javascript"></script>
  
  <!-- JS: Vendor Animations -->
  <script src="/scripts/vendor/animation/TweenLite.min.js" type="text/javascript"></script>
  <script src="/scripts/vendor/animation/CSSPlugin.min.js" type="text/javascript"></script>
  
  <!-- JS: App Core -->
  <script src="/scripts/global/navigation-plus.js" type="text/javascript"></script>
  
  <!-- JS: App Content -->
  
  
</body>