<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{global.title}} &rsaquo; {{page}}
    </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
   
    <!-- Styles -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    
    <!-- Navigation -->
    <a id="mobile-menu" href="##">
      <span class="hammy-special">
        <span class="fir"></span>
        <span class="sec"></span>
        <span class="thi"></span>
      </span>
    </a>
     
     
    <nav class="nav-plus">
     
      <a href="##">Linik</a>
      <a href="##">Larnk</a>
      <a href="##">Leenk</a>
      <a href="##">Lienk</a>
      <a href="##">L00nk</a>
      <a href="##">Idk</a>
      
      <div class="nav-footer">
        
      </div>
      
    </nav> 
      
    <!-- Start Page Container -->
    {{#if container}}
      <main id="main-content" class="page-{{page}}">
    {{/if}}