<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{global.title}} &rsaquo; {{page}}
    </title>

    <!-- Fonts -->
    <link href="/styles/vendor/entypo.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
   
    <!-- Styles -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    
    <!-- Navigation -->
    <a id="mobile-menu" tabindex="0">
      <span class="hammy-special">
        <span class="fir"></span>
        <span class="sec"></span>
        <span class="thi"></span>
      </span>
    </a>
     
     
    <nav class="nav-plus">

      <div class="links">
        <a class="home" href="/">
          <span class="icon-home"></span>
        </a>
        <a class="link" href="/portfolio">The Portfolio</a>
        <a class="link" href="/resume">The Resume</a>
        <div>
          <a class="small" href="https://www.linkedin.com/in/depaolojosh"><span class="icon-linkedin-with-circle"></span></a>
          <a class="small" href="mailto:me@josh.care"><span class="icon-mail-with-circle"></span></a>
        </div>
        <span class="separate"></span>
        <a class="link" href="/style">My Style</a>
        <a class="link" href="/inspiration">My Inspiration</a>
        <a class="link" href="http://blog.josh.care/">My Blog</a>
      </div>
      
      <div class="nav-footer">
        
        <a class="link" href="https://github.com/pstrawberriedev/portfolio3" target="_blank">
          &nbsp;
          <span class="icon-github"></span>
          <span class="small">Git dirty</span>
        </a>
        <div>
          <span class="small">Made with <span class="icon-code"></span> <span class="icon-drop"></span> <span class="icon-drink"></span> <span class="icon-game-controller"></span> <span class="icon-music"></span> - <a href="/credits">credits</a></span>
        </div>
        
      </div>
      
    </nav> 
      
    <!-- Start Page Container -->
    {{#if container}}
      <main id="main-content" class="page-{{page}}">
    {{/if}}